html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  /* font-size: 1rem; */
}

.sidebar {
  display: flex;
  background-color: lightgray;
  /* width: 15%; */
  margin-top: auto;
  height: 80%;
  margin-bottom: auto;
  flex-direction: column;
  padding: 2rem;
}

.cards {
  width: 75%;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  /* margin: 1rem; */
  width: 30%;
  height: 30%;
}

.card p {
}
